    <fieldset class="layui-elem-field layui-field-title site-title">
        <legend><a name="default">编辑管理员用户</a></legend>
    </fieldset>
            
            
    <div class="">
        <form class="layui-form layui-form-pane" action="edit" method="post" name="myform">
        
          <label>用户名(no_modify)：</label>
          <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="username" placeholder="请输入注册账号" value="{$lists.username}" class="layui-input" readonly="readonly"/>
                </div>
            </div>
    
          <label>密 码：</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="password" name="password" placeholder="请输入密码" value="{$lists.password}" class="layui-input"/>
                </div>
            </div>
    
          <label>确认密码：</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="password" name="confirm" placeholder="请再次输入密码" value="{$lists.password}" class="layui-input" />
                </div>
            </div>
    
          <label>邮 箱：</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="email" placeholder="请输入邮箱" value="{$lists.email}" class="layui-input"/>
                </div>
            </div>
          
          <label>所属组：</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                    <select id="selectid" name="group_id" required="required" >
                         {volist name="lists2" id="vo2"}                      
                         <option value="{$vo2.id}">{$vo2.name}</option>
                          {/volist}
                    </select> 
                </div>
            </div>
            
          <input type="submit" value="提交" name="dosubmit" class="layui-input"/><br>
          
        </form>
    </div>
        
        
        
         