    <fieldset class="layui-elem-field layui-field-title site-title">
        <legend><a name="default">添加商品种类</a></legend>
    </fieldset>
            
            
    <div class="">
        <form class="layui-form layui-form-pane" action="add" method="post" name="myform">
        
          <label>商品名称：</label>
          <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="goodsName" placeholder="请输入商品名称" class="layui-input"/>
                </div>
            </div>
    
          <label>总数：</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="totalNum" placeholder="请输入总数" class="layui-input"/>
                </div>
            </div>
    
          <label>已抢：</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="distributedNum" placeholder="请输入已抢" class="layui-input" />
                </div>
            </div>
    
          <label>剩余：</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="remainedNum" placeholder="请输入剩余" class="layui-input"/>
                </div>
            </div>
            
          <input type="submit" value="提交" name="dosubmit" class="layui-input"/><br>
          
        </form>
    </div>
        
        
        
         