         <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">分配宿舍</a></legend>
         </fieldset>
            
            
    <div class="login-box">
        <form class="layui-form layui-form-pane" action="dormadd" method="post" name="myform">
        
          <label>楼 号：</label>
          <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="building" placeholder="请输入楼号" class="layui-input"/>
                </div>
            </div>
          
    
          <label>层 号：</label>
          <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="floor" placeholder="请输入层号" class="layui-input"/>
                </div>
            </div>
          
    
          <label>房间号：</label>
          <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="room" placeholder="请输入房间号" class="layui-input" />
                </div>
            </div>
          
    
          <label>床位号：</label>
          <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="bed" placeholder="请输入床位号" class="layui-input"/>
                </div>
            </div>
            
          <label>用户名：</label>
          <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="username" placeholder="请输入用户名" class="layui-input"/>
                </div>
          </div>
          
          <input type="submit" value="提交" name="dosubmit" class="layui-input"/><br>
          
        </form>
    </div>
        
        
        
         