<!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">商品购买页面</a></legend>
            </fieldset>
            
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>商品名称</th>
                        <th>商品描述</th>
                        <th>价格/元</th>
                        <th>商品发布时间</th>
                        <th>卖家</th>
                        <th>商品状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                
                
                <tbody>
                    {volist name="lists" id="vo"}
                    <tr>
                        <td>{$vo.No}</td>
                        <td>{$vo.goodsname}</td>
                        <td>{$vo.description}</td>
                        <td>{$vo.price}</td>
                        <td>{:date('Y-m-d H:m:s',$vo.saletime)}</td>
                        <td>{$vo.salername}</td>
                        <td>{$vo.dealstatus}</td>
                        
                        <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a href='{:url("buy","goodsid=$vo[id]")}'>
                                           <span class="btn btn-sm btn-primary pull-right" >
                                           购买
                                           <i class="icon-reply icon-only"></i>
                                           </span>
                                        </a>
                                    </div>
                       </td>
                    </tr>
                     {/volist}
                     
                </tbody>
            </table>
        </div>
    </div>
<!-- 右侧主体结束 -->