    <fieldset class="layui-elem-field layui-field-title site-title">
        <legend><a name="default">发布商品</a></legend>
    </fieldset>
            
    <div class="">
        <form class="layui-form layui-form-pane" action="index" method="post" name="myform">
        
          <label>商品名称：</label>
          <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="goodsname" placeholder="请输入商品名称" class="layui-input" required="required"/>
                </div>
            </div>
    
          <label>商品描述：</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="description" placeholder="请输入商品描述" class="layui-input" required="required"/>
                </div>
            </div>
    
          <label>价 格：</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="price" placeholder="请输入价格" class="layui-input" required="required"/>
                </div>
            </div>
            
          <input type="submit" value="提交" name="dosubmit" class="layui-input"/><br>
          
        </form>
    </div>
        
        
        
         