         <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">添加新分组</a></legend>
         </fieldset>
            
            
    <div class="login-box">
        <form class="layui-form layui-form-pane" action="" method="post" name="myform">
        
          <label>组名(不能修改)：</label>
          <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="name" placeholder="请输入组名" value="{$lists.name}" class="layui-input"/>
                </div>
            </div>
          
    
          <label>说明：</label>
          <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="statement" placeholder="请输入说明" value="{$lists.statement}" class="layui-input"/>
                </div>
            </div>
        
          <input type="submit" value="提交" name="dosubmit" class="layui-input"/><br>
          
        </form>
    </div>
        
        
        
         